name: CI Workshop

on:
  push:
    branches: [main]
  pull_request:

jobs:
  dotnet:
    name: Build and Test .NET
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Build and Test
        run: dotnet test --configuration Release --verbosity minimal


  typescript:
    name: Build, Lint, and Test TypeScript
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Build, Lint, and Test
        working-directory: DotnetTemplate.Web
        run: |
          npm ci
          npm run build
          npm run lint
          npm test
